<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    //nav bar
    <ul>
      <li><a href="./index">Home</a></li>
      <li><a href="./search">Search</a></li>
      <li><a href="./addUser">Add new user</a></li>
    </ul>

   //form to fill in new user
    <form action='/addUser' method='post' autocomplete="off">
    	Create Account:<br>
    	 <input type='text' name='inputfirst' placeholder = 'type first name here...' value=''><br>
    	 <input type='text' name='inputlast' placeholder = 'type last name here...' value=''><br>
    	 <input type='text' name='inputemail' placeholder = 'type email here...' value=''><br>
       <input type='submit' value='Save submit'>
    </form>

  </body>
</html>
