<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" href="style.css">
	</head>

	<body>

		//nav bar
		<ul>
			<li><a href="./index">Home</a></li>
			<li><a href="./search">Search</a></li>
			<li><a href="./addUser">Add new user</a></li>
		</ul>

		//display of all users
	  <h1> Users Page </h1>
	    <p> All users </p>

	        <% parsedData.forEach (function (usersname){ %>

	            <p>First Name: <%= usersname.firstname %></p>
	            <p>Last Name: <%= usersname.lastname %></p>
	            <p>Email: <%= usersname.email %></p> <br>

	    <% }); %>

	</body>
</html>
