<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/public/styles/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>

    <ul>
      <li><a href="./">Home</a></li>
      <li><a href="./search">Search</a></li>
      <li><a href="./addUser">Add new user</a></li>
    </ul>

    <form action='/search' method='post' autocomplete="off">
    	Enter user name:<br>
    	<input type='text' name='input' id='input' value=''><br>
    	<input type='submit' value='Submit'>
    </form>

    <ul class='suggestions-list' id='result'></ul> //lijst waar de suggesties in voorkomen van autocomplete

  </body>
</html>

<script>
var keyOld = 0

$(document).ready(function() {
    $('#input').keyup(function() {
        const keyNew = new Date ();
        if (keyNew - keyOld > 300) {

        var input = $(this).val();

        $('#result').empty();
        $.post('/autocomplete', {input:input}, function (response, status) {
            for (var i = 0; i < response.length; i++){
                $('#result').append('<li> '+ response[i].firstname +" "+ response[i].lastname +' </li>')
            }
        })

        keyOld = keyNew
    } else {
        console.log('Slow down buddy :)')
    }
});
});

</script>
